
<mat-card>
  <form (submit)=" onPost(postForm)" #postForm="ngForm">
      <mat-form-field>
          <input matInput type="text" name="title" ngModel required #title="ngModel">
          <mat-error *ngIf="title.invalid">enter title</mat-error>
        </mat-form-field>
        <hr>
        <mat-form-field>
          <textarea matInput row="6" name="content" ngModel required #content="ngModel"></textarea>
          <mat-error *ngIf="content.invalid">enter content</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">save post</button>
  </form>

</mat-card>


<hr>

